<div class="tarjeta"></div>


<div style="display: flex; align-items: center; justify-content: center; ">
    
    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <div style="width: 300px; align-items: center; justify-content: center">
        <div style="display: flex;  align-items: center;   justify-content: center; color: #075861da; font-weight: bold;" ><h2>Registro de Usuario</h2></div><br>
        <label for="email" for="password" >Email:</label>
        <input type="email" id="email" formControlName="email" placeholder="Email" style="border-color: #155c64da; border-style: solid; border-radius: 15px;" required size="20">
  
        <label for="password" for="password" style="color: #075861da; font-weight: bold;">Password:</label>
        <input type="password" id="password" formControlName="password" style="border-color: #155c64da; border-style: solid; border-radius: 15px;" placeholder="Password" required size="15">
      </div>
      <br>
      <button type="submit" style="cursor:pointer; color: white;">Registrarme</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" style="cursor:pointe; color: white;"   (click)="regresar()" class="search">Regresar</button>
    </form>
    
</div>