<div class="biblioteca"></div>
<div>
  
    <h2  style="margin-top: 40px; font-weight: bold; text-align: center; color: #075861da;">BIENVENIDO A BIBLIOTECA</h2>
    <br>
    <div style="display: flex; align-items: center; justify-content: center">
        <button (click)="('registrar') "routerLink="/registrar" style="background-color: #075861da; ">Registrar libro</button>&nbsp;
        <button (click)="('registrar') "routerLink="/buscar"class="search" style="background-color: #021d20da; ">Buscar libro</button><br><br><br><br>&nbsp;
        <button (click)="cerrarSesion() "class="cancel" style="background-color: rgb(141, 15, 15);">Cerra Sesion</button>&nbsp;
        
        </div>

</div>


